
#apresentacao {
    display: flex;
    justify-content: center;
    text-align: center;
    /*padding: 2em;*/
    margin-bottom: 1em;
}

#apresentacao h2 {
    font-family: var(--fonte2);
    font-size: 3em;
}

#apresentacao p {
    font-family: var(--fonte2);
    font-size: 1.2em;
}

#apresentacao q {
    line-height: 1.5em;
}

#coroa {
    display: flex;
    justify-content: center;
}